html {
  height: 100%;
  width: 100%;
}

.Phase-Diagram {
  position: absolute;
  top: 100px;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  background-color: #ecf0f1;
  transform: scale(0.9);
}

body {
  transform: scale(0.6);
  transform-origin: 0 0;

}

#navbar {
  transform: scale(1.8);
  transform-origin: 0 0;

}

.x-axis text {
  font-size: 20px;

}

.y-axis text {
  font-size: 20px;
}

.polygon:hover {
  filter: brightness(150%);
}

.output-container {
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  font-size: 25px;
  width: 550px;
  background-color: #ecf0f1;

}

#input {
  left: 1500px;
  top: 150px;
}

#phase {
  left: 1500px;
  top: 280px;
}

#output {
  left: 1500px;
  top: 380px;
}







.input-container {
  position: absolute;
  top: 670px;
  left: 1500px;
  padding: 20px;
  text-align: left;
  background-color: #ecf0f1;
  border-radius: 10px;
  font-size: 25px;
  width: 550px;
  height: 350px;
}

.label {
  color: #2980b9;
  font-weight: bold;
}

.styled-input {
  width: calc(100% - 20px);
  padding: 6px;
  margin: 8px 0;
  border: 1px solid #3498db;
  border-radius: 5px;
  font-size: 20px;
}

#button {
  position: absolute;
  top: 260px;
  left: 170px;
  margin: 10px 0;
  height: 50px;
  width: 180px;
  font-size: 25px;
}

#button:hover {
  background-color: #28aeb8;

}
